/* General Container */
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;
  }
  
  .reset-password-box {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    padding: 15px;
    text-align: center;
    animation: fadeIn 0.6s ease-out; /* Animación de aparición */
  }
  
  .title {
    font-size: 26px; /* Ampliación de tamaño de letra */
    font-weight: 600;
    margin-bottom: 10px;
    color: #007bff; /* Color azul para el título */
    animation: fadeIn 0.6s ease-out; /* Animación de aparición */
  }
  
  .description {
    font-size: 15px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .input-group {
    margin-bottom: 12px;
    text-align: left;
  }
  
  .input-label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
  }
  
  .input-email {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px; /* Ampliación de tamaño de letra */
    color: #333;
    transition: all 0.3s ease;
  }
  
  .input-email:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .error-message {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 8px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Ampliación de tamaño de letra */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .submit-button:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
  }
  
  .recommendation-message {
    font-size: 14px;
    color: #888;
    margin-top: 15px;
  }
  
  /* Animación de aparición */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  